<footer class="border-top text-muted bg-dark">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center">
                <ul class="nav-bar">
                    <li class="nav-link">
                        <a href="/politica-de-privacidade" class="nav-item text-decoration-none text-white-50">politica de privacidade</a>
                    </li>
                    <li class="nav-link">
                        <a href="/termos-de-uso" class="nav-item text-decoration-none text-white-50">termos de uso</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center">
                <ul class="nav-bar">
                    <li class="nav-link">
                        <a href="/quem-somos" class="nav-item text-decoration-none text-white-50">Quem somos</a>
                    </li>
                    <li class="nav-link">
                        <a href="/contato" class="nav-item text-decoration-none text-white-50">Trabalhe conosco</a>
                    </li>
                    <li class="nav-link">
                        <a href="/duvidas-frequentes" class="nav-item text-decoration-none text-white-50">Duvidas frequentes</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center">
                <ul class="nav-bar">
                    <li class="nav-link">
                        <a href="/contato" class="nav-item text-decoration-none text-white-50">Fale Conosco</a>
                    </li>
                    <li class="nav-link">
                        <a href="mailto:contato@carserviceshop.com" class="nav-item text-decoration-none text-white-50">
                            <i class="bi-mailbox"></i> contato@carserviceshop.com
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="phone:(98)9999-8888" class="nav-item text-decoration-none text-white-50">
                            <i class="bi-phone"></i>
                            (98)9999-8888
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <%- include('trocarImagem.ejs'); %>

</body>
</html>