<div class="col-4">
    <div class="list-group">
        <a href="/cliente_dados" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi-person fs-6"></i> Dados Pessoais
        </a>
        <a href="/anunciar" class="list-group-item list-group-item-action">
            <i class="bi-currency-dollar fs-6"></i> Anunciar
        </a>
        <a href="/cliente_contatos" class="list-group-item list-group-item-action">
            <i class="bi-mailbox fs-6"></i> Contatos
        </a>
        <a href="/cliente_endereco" class="list-group-item list-group-item-action">
            <i class="bi-house-door fs-6"></i> Endereço
        </a>
        <a href="/cliente_pedidos" class="list-group-item list-group-item-action">
            <i class="bi-truck fs-6"></i> Pedidos
        </a>
        <a href="/cliente_favoritos" class="list-group-item list-group-item-action">
            <i class="bi-heart fs-6"></i> Favoritos
        </a>
        <a href="/cliente_senha" class="list-group-item list-group-item-action">
            <i class="bi-lock fs-6"></i> Alterar Senha
        </a>
        <a href="/" class="list-group-item list-group-item-action">
            <i class="bi-door-open fs-6"></i> Sair
        </a>
    </div>
</div>