<%- include('./partials/header.ejs'); %>
<main class="flex-fill">
    <div class="container">

        <div class="row justify-content-center">
            <form action="/user/create" method="POST" class="col-sm-10 col-md-8 col-lg-6">
                <h4>Cadastrar-se</h4>
                <small>Preencha corretamente seus dados</small>
                <br>

                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" type="text" name="txtNome" placeholder=" " autofocus />
                    <label for="txtNome">Nome</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" name="txtEmail" class="form-control" placeholder="" autofocus>
                    <label for="email">E-mail</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="fone" name="txtFone" class="form-control" placeholder="" autofocus>
                    <label for="fone">Telefone</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" name="txtSenha" class="form-control" placeholder="" autofocus>
                    <label for="senha">Senha</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" name="txtConfSenha" class="form-control" placeholder="" autofocus>
                    <label for="confSenha">Confirmar Senha</label>
                </div>

                <!-- <div class="form-floating mb-3 col-md-6 col-xl-4">
                    <input class="form-control" type="date" id="txtDataNascimento" placeholder=" " />
                    <label for="txtDataNascimento">Data de Nascimento</label>
                </div> -->

                <div class="form-floating mb-3">
                    <select class="form-select form-select-sm" name="tipoConta" onchange="selConta(this)">
                        <option selected disabled>Tipo de Conta</option>
                        <option value="1">Consumidor</option>
                        <option value="2">Vendedor</option>
                      </select>
                </div>

                <script>
                    function selConta (conta) {
                        if (conta.value == '1') {
                            document.getElementById('continuar').innerHTML = '<div class="form-floating mb-3 col-md-6 col-xl-6">\n' +
                                                                                '<input class="form-control" type="text" name="txtCPF" placeholder=" " />\n' +
                                                                                '<label for="txtCPF">CPF</label>\n' +
                                                                            '</div>';
                        } else if (conta.value == '2') {
                            document.getElementById('continuar').innerHTML = '<div class="form-floating mb-3 col-md-6 col-xl-6">\n' +
                                                                                    '<input class="form-control" type="text" name="txtCNPJ" placeholder=" " />\n' +
                                                                                    '<label for="txtCPF">CNPJ</label>\n' +
                                                                                '</div>\n' +

                                                                                '<div class="form-floating mb-3 col-md-6 col-xl-6">\n' +
                                                                                    '<input class="form-control" type="text" name="txtNFan" placeholder=" " />\n' +
                                                                                    '<label for="txtCPF">Nome Fantasia</label>\n' +
                                                                                '</div>\n' +

                                                                                '<div class="form-floating mb-3">\n' +
                                                                                    '<input class="form-control" type="text" name="txtCEP" placeholder=" " autofocus />\n' +
                                                                                    '<label for="txtCEP">CEP</label>\n' +
                                                                                '</div>\n';
                        } else {
                            document.getElementById('continuar').innerHTML = '<div id="continuar"></div>';
                        }
                    }
                </script>

                <div id="continuar"></div>
                
                <!-- <button type="button" class="btn btn-md btn-success" onclick="window.location.href='/confirme-cadastro.html'">Efetuar Cadastro</button> -->
                <!-- <input type="submit" value="Submit"> -->
                <input type="submit" class="btn btn-md btn-success" value="Efetuar Cadastro"></input>
                <!-- <p class="mt-3">Ainda não é Cadastrado ? <a href="/cadastro.html">Clique aqui</a> e aproveite o sistema</p> -->
            </form>
        </div>

    </div>
</main>

<%- include('./partials/footer.ejs'); %>