<%- include('./partials/header.ejs'); %>

<main class="flex-fill">
    <div class="container">
        <h2>Minha Conta</h2>
        <div class="row gx-3 mb-5">
            <!--Menu da Esquerda-->
            <%- include('./partials/menu_adm.ejs'); %>
            <div class="col-8 mb-5">
                <div class="row g-3">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">                          

                        <div class="card text-center bg-light">
                            <a href="#" class="position-absolute end-0 p-2 text-danger"><i class="bi-x icone" ></i></a>
                            <img src="img/cabecote-ap.jpg" class="card-img-top cartao">
                            <div class="card-header">
                                R$ 150,00
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Cabeçote turbo</h5>
                              <p class="card-text truncar">cabeçote AP tucho mecânico, completo
                                pronto pra montar</p>
                             </div>
                             <div class="card-footer">
                                 <a href="carrinho.html" class="btn btn-primary mt-2 d-block">Adicionar ao Carrinho</a>
                             </div>
                             <small class="text-success"> 10 em estoque</small>
                         </div>         
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">                          

                        <div class="card text-center bg-light">
                            <a href="#" class="position-absolute end-0 p-2 text-danger"><i class="bi-x icone" ></i></a>
                            <img src="img/img14.jpg" class="card-img-top cartao">
                            <div class="card-header">
                                R$ 150,00
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Cabeçote turbo</h5>
                              <p class="card-text truncar">cabeçote AP tucho mecânico, completo
                                pronto pra montar</p>
                             </div>
                             <div class="card-footer">
                                 <a href="carrinho.html" class="btn btn-primary mt-2 d-block">Adicionar ao Carrinho</a>
                             </div>
                             <small class="text-success"> 10 em estoque</small>
                         </div>         
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">                          

                        <div class="card text-center bg-light">
                            <a href="#" class="position-absolute end-0 p-2 text-danger"><i class="bi-x icone" ></i></a>
                            <img src="img/img12.jpg" class="card-img-top cartao">
                            <div class="card-header">
                                R$ 150,00
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Cabeçote turbo</h5>
                              <p class="card-text truncar">cabeçote AP tucho mecânico, completo
                                pronto pra montar</p>
                             </div>
                             <div class="card-footer">
                                 <a href="carrinho.html" class="btn btn-primary mt-2 d-block">Adicionar ao Carrinho</a>
                             </div>
                             <small class="text-success"> 10 em estoque</small>
                         </div>         
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">                          

                        <div class="card text-center bg-light">
                            <a href="#" class="position-absolute end-0 p-2 text-danger"><i class="bi-x icone" ></i></a>
                            <img src="img/img15.jpg" class="card-img-top cartao">
                            <div class="card-header">
                                R$ 150,00
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Cabeçote turbo</h5>
                              <p class="card-text truncar">cabeçote AP tucho mecânico, completo
                                pronto pra montar</p>
                             </div>
                             <div class="card-footer">
                                 <a href="carrinho.html" class="btn btn-primary mt-2 d-block">Adicionar ao Carrinho</a>
                             </div>
                             <small class="text-success"> 10 em estoque</small>
                         </div>         
                    </div>

                    
                </div>
            </div>
        </div>     
    </div>
</main>

<%- include('./partials/footer.ejs'); %>