<%- include('./partials/header.ejs'); %>

<main class="flex-fill">
    <div class="container">
        <h2>Minha Conta</h2>
        <div class="row gx-3 mb-5">
            <!--Menu da Esquerda-->
            <%- include('./partials/menu_adm.ejs'); %>
            <div class="col-8 mb-5">
                <form action="">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="txtNome" placeholder=" " autofocus />
                        <label for="txtNome">Nome</label>
                    </div>

                    <div class="form-floating mb-3 col-md-6 col-xl-4">
                        <input class="form-control" type="text" id="txtCPF" placeholder=" " />
                        <label for="txtCPF">CPF</label>
                    </div>

                    <div class="form-floating mb-3 col-md-6 col-xl-4">
                        <input class="form-control" type="text" id="txtCPF" placeholder=" " />
                        <label for="txtCPF">CNPJ</label>
                    </div>

                    <div class="form-floating mb-3 col-md-6 col-xl-4">
                        <input class="form-control" type="text" id="txtCPF" placeholder=" " />
                        <label for="txtCPF">Nome Fantasia</label>
                    </div>

                    

                    <div class="form-floating mb-3 col-md-6 col-xl-4">
                        <input class="form-control" type="text" id="txtTipo" placeholder=" " value="Produtor"  disabled/>
                        <label for="txtTipo">Tipo</label>
                       
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-xl-4">
                        <input class="form-control" type="date" id="txtDataNascimento" placeholder=" " />
                        <label for="txtDataNascimento">Data de Nascimento</label>
                    </div>

                    <div class="form-floating mb-3 col-md-6 col-xl-4">
                        <button type="submit" class="btn btn-warning">Alterar Dados</button>
                    </div>
                </form>   
                
            </div>
        </div>     
    </div>
</main>

<%- include('./partials/footer.ejs'); %>