<%- include('./partials/header.ejs') %>
<main class="flex-fill">
    <div class="container">
        <h2>Mensagem Recebida !</h2>
        <hr>
        <p>Informamos que seu cadastro foi realizado com sucesso, foi enviado uma mensagem automática para seu e-mail.Você já pode entrar no sistema <a href="/login">Clique aqui</a></p>
        <p class="mb-5">Atenciosamente, Equipe CarshopService <i class="bi-emoji-smile"></i></p>
        <br>
    </div>
</main>
<%- include('./partials/footer.ejs') %>