<%- include('./partials/header.ejs'); %>

<main class="flex-fill">
    <div class="container">
        <h2>Parabéns o cadastro da nova senha foi efetuado com sucesso !!</h2>
                     <p> para entrar efetuar login <a href="/login">Clique aqui</a></p>
                     <p>Agradeçemos a sua confiança em nossos serviços.</p>
                     <p>Codialmente, Equipe CarshopService.</p>
                     <p>
                         <a href="/" class="btn btn-primary">Voltar à página Principal </a>
                     </p>
                    </div>
    
    </div>
</main>            
<%- include('./partials/footer.ejs'); %>
