<%- include('./partials/header.ejs'); %>

<main class="flex-fill">
    <div class="container">
        <h2>Mensagem Recebida !</h2>
                    <hr>
                    <p>Informamos que sua mensagem foi recebida, tentaremos ao máximo cumprir com o nosso prazo de resposta de até 12h</p>
                    <p class="mb-5">Atenciosamente, Equipe CarshopService <i class="bi-emoji-smile"></i></p>
                    <br>
    </div>
</main>            
<%- include('./partials/footer.ejs'); %>
