<%- include('./partials/header.ejs'); %>
<main class="flex-fill">
    <div class="container">
        <div class="container">
            <h2>Instruções Enviadas com sucesso !</h2>
            <hr>
            <p>As instruções para recuperação de cadastro e novo cadastramento de senha foram enviados para o seu e-mail: usuario@dominio.com, siga as instruções corretamente para recuperar o seu cadastro no sistema</p>
            <p>Agradeçemos a sua confiança em nossos serviços.</p>
            <p>Codialmente, Equipe CarshopService.</p>
            <p>
                <a href="/" class="btn btn-primary">Voltar à página Principal </a>
            </p>
        </div>
    </div>
</main>            
<%- include('./partials/footer.ejs'); %>
