<%- include('./partials/header.ejs'); %>
            <main class="flex-fill">
                <div class="container">
                    <h2>Peças</h2>
                    <div class="row">
                        <ul class="list-group my-3">
                            <% pecas.forEach(function(peca){ %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <a href="produto.html" class="text-decoration-none"><img src="img/img12.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="col-6 d-flex align-items-center justify-content-center">
                                        <a href="produto.html" class="text-decoration-none"> <p> <%= peca.descricao %> </p></a>
                                    </div>
                                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                        <!-- <s> de R$ 1000,00</s> -->
                                        <h4>
                                            <span class="badge rounded-pill bg-danger">R$ <%= peca.valor %></span>
                                        </h4>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-center">
                                        <div class="input-group mb-3">
                                            <a href="carrinho.html">
                                            <button class="btn  btn-outline-primary me-3" type="button">
                                                <i class="bi-cart"></i>
                                            </button>
                                            </a>
                                            
                                            <a href="cliente_favoritos.html">
                                            <button class="btn  btn-outline-danger" type="button">
                                                <i class="bi-heart-fill"></i>
                                            </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <% }) %>

                            <!-- <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <a href="produto.html" class="text-decoration-none"><img src="img/img11.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="col-6 d-flex align-items-center justify-content-center">
                                        <a href="produto.html" class="text-decoration-none"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi molestiae cumque nam accusamus dolore quas natus quam hic iste modi, molestias repellat aperiam consequuntur, totam eaque rerum exercitationem maiores eveniet!</p></a>
                                    </div>
                                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                        <s> de R$ 1000,00</s>
                                        <h4>
                                            <span class="badge rounded-pill bg-danger">R$ 500,00</span>
                                        </h4>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-center">
                                        <div class="input-group mb-3">
                                            <a href="carrinho.html">
                                            <button class="btn  btn-outline-primary me-3" type="button">
                                                <i class="bi-cart"></i>
                                            </button>
                                            </a>
                                            
                                            <a href="cliente_favoritos.html">
                                            <button class="btn  btn-outline-danger" type="button">
                                                <i class="bi-heart-fill"></i>
                                            </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <a href="produto.html" class="text-decoration-none">  <img src="img/img13.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="col-6 d-flex align-items-center justify-content-center">
                                        <a href="produto.html" class="text-decoration-none">  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi molestiae cumque nam accusamus dolore quas natus quam hic iste modi, molestias repellat aperiam consequuntur, totam eaque rerum exercitationem maiores eveniet!</p> </a>
                                    </div>
                                    <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                                        <s> de R$ 1000,00</s>
                                        <h4>
                                            <span class="badge rounded-pill bg-danger">R$ 500,00</span>
                                        </h4>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-center">
                                        <div class="input-group mb-3">
                                            <a href="carrinho.html">
                                            <button class="btn  btn-outline-primary me-3" type="button">
                                                <i class="bi-cart"></i>
                                            </button>
                                            </a>
                                            
                                            <a href="cliente_favoritos.html">
                                            <button class="btn  btn-outline-danger" type="button">
                                                <i class="bi-heart-fill"></i>
                                            </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li> -->

                            
                        </ul>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer.ejs'); %>