<%- include('./partials/header.ejs'); %>
            <main class="flex-fill">
                <div class="container">
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <img src="img/cabecote-ap.jpg" id="imgProduto" alt="" class="img-thumbnail produto">
                            <br class="clear-flix">
                            <div class="row my-3 gx-3">
                                <div class="col-3">
                                    <img src="img/cabecote-ap.jpg" alt="" class="img-thumbnail min-produto" onclick="trocarImagem(this)">
                                </div>

                                <div class="col-3">
                                    <img src="img/img10.jpg" alt="" class="img-thumbnail min-produto" onclick="trocarImagem(this)">
                                </div>

                                <div class="col-3">
                                    <img src="img/img11.jpg" alt="" class="img-thumbnail min-produto" onclick="trocarImagem(this)">
                                </div>
                                <div class="col-3">
                                    <img src="img/img12.jpg" alt="" class="img-thumbnail min-produto" onclick="trocarImagem(this)">
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">

                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, incidunt accusamus. Reprehenderit eius magnam dolor saepe nesciunt necessitatibus, eligendi sint sed laboriosam dolores. Tempore quo officiis omnis quam veniam eius!</p>

                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat suscipit exercitationem numquam iure corporis aperiam harum recusandae molestias non nulla veniam, facilis culpa ab incidunt sint nisi fugit aliquam id.</p>

                            <p>
                                <button type="button" class="btn btn-lg btn-outline-primary mb-3 mb-lx-0 me-3"><i class="bi-cart">Adicionar ao Carrinho</i></button>
                                <button type="button" class="btn btn-lg btn-outline-danger mb-3 mb-lx-0 me-3"><i class="bi-heart-fill">Adicionar ao Favorito</i></button>
                                
                            </p>
                        </div>

                    </div>
                </div>
            </main>
            
            <%- include('./partials/footer.ejs'); %>