<%- include('./partials/header.ejs'); %>

<main class="flex-fill">
    <div class="container">
        <h2>Quem somos</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quos eum magnam laudantium dicta aliquam et facere quam nam vero. Ab dolorem totam ex cum itaque labore porro, illo id!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quos eum magnam laudantium dicta aliquam et facere quam nam vero. Ab dolorem totam ex cum itaque labore porro, illo id!</p>
    
    </div>
</main>            
<%- include('./partials/footer.ejs'); %>
